<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Joel Hilton Movie Collection</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="col navbar-brand bg-dark">
        <div class="col-4 text-right">
            <menu>
                <a class="navbar-brand text-white" asp-action="Index">Home</a>
                <a class="navbar-brand text-white" asp-action="MyPodcasts">Podcasts</a>
                <a class="navbar-brand text-white" asp-action="AddMovies">Add Movies</a>
                <a class="navbar-brand text-white" asp-action="MovieList">Movie List</a>
            </menu>
        </div>
    </div>
    <br />
    <br />

    @RenderBody()

    <br />
    <br />
    <footer class="text-center">Rheanna Brown, section 4</footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
